root = true

[*.cs]
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

dotnet_naming_rule.methods_should_be_pascal_case.severity = warning
dotnet_naming_rule.methods_should_be_pascal_case.symbols  = methods
dotnet_naming_rule.methods_should_be_pascal_case.style    = pascal_case

dotnet_naming_symbols.methods.applicable_kinds = method
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_style_qualification_for_field = true:suggestion
dotnet_style_qualification_for_property = true:suggestion
dotnet_style_qualification_for_method = false:silent

csharp_new_line_before_open_brace = all
csharp_preserve_single_line_statements = false
csharp_indent_case_contents = true
csharp_space_after_keywords_in_control_flow_statements = true

csharp_style_var_elsewhere = false:warning
csharp_style_var_for_built_in_types = false:warning
csharp_style_var_when_type_is_apparent = true:suggestion

csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = when_on_single_line:suggestion

dotnet_style_null_propagation = true:suggestion
dotnet_style_coalesce_expression = true:suggestion

csharp_style_namespace_declarations = file_scoped:suggestion

dotnet_diagnostic.CS0168.severity = warning   # unused variable
dotnet_diagnostic.CS0169.severity = warning   # unused field
dotnet_diagnostic.CS8618.severity = warning   # non-nullable uninitialized
